databases:
  - name: superapp-db
    plan: free

services:
  - type: web
    name: superapp-api
    env: python
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn manage:app
    autoDeploy: true
    healthCheckPath: /health
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: PSP_PROVIDER
        value: mock
      - key: MERCHANT_VPA
        value: merchant@upi
      - key: DATABASE_URL
        fromDatabase:
          name: superapp-db
          property: connectionString
      # - key: RAZORPAY_KEY_ID
      #   value: your_key_id
      # - key: RAZORPAY_KEY_SECRET
      #   value: your_key_secret
      # - key: RAZORPAY_WEBHOOK_SECRET
      #   value: your_webhook_secret
    postDeployCommand: |
      python scripts/init_db.py

  # - type: worker
  #   name: celery-worker
  #   env: python
  #   plan: free
  #   buildCommand: pip install -r requirements.txt
  #   startCommand: celery -A app.tasks.jobs worker --loglevel=info
  #   envVars:
  #     - key: DATABASE_URL
  #       fromDatabase:
  #         name: superapp-db
  #         property: connectionString

  # - type: redis
  #   name: superapp-redis
  #   plan: free
  #   maxmemoryPolicy: noeviction
  #   ipAllowList: []
